/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
}

.navbar {
  padding: 5px;
  margin: 0;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 200px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/stars.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 25px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
  color: #1b3146;
  font-family: 'Mv Boli',sans-serif;
  -webkit-text-stroke: 3px black;
}

.hero p {
  font-size: 3rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  font-family: 'Mv Boli',sans-serif;
  color: #1b3146;
  -webkit-text-stroke: 1px black;
}

.fixed_header{
  width: 65vw;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  overflow:auto;
  height:65vh;
  width:100%;
}

.fixed_header thead {
background: black;
color:black;
}
.fixed_header thead tr{
  display:block;
}

.tbody {
  color: black;
}
.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
width: 200px;
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
